snippet cmt "Commented title"
  // <=== NOTE: ${1:title} ===>

snippet clg "Trace some value to the console"
  console.log("${1:var}: ", ${1:var});

snippet cl "Shortcut for the console.log"
  console.log("${1:var}");

snippet exp "Async Playwright soft expectation"
  await expect.soft(${1:variable})${2:expectation}

snippet for "for `i` loop"
  for (let ${1:var} = 0; ${1:var} < ${2:limit}; ${1:var}++) {
  }

